name: CI

on: [push]

jobs:
  ci:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: function_analysis
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Poetry
        run: pip install poetry 
      - name: Install required Python packages
        run: poetry install
      - name: Unit Tests
        run: poetry run pytest --doctest-modules --cov --junitxml=junit/test-results.xml --cov-report=html
      - uses: chartboost/ruff-action@v1
        name: Lint using ruff
        with:
          args: 'check'
      - uses: chartboost/ruff-action@v1
        name: Format using ruff
        with:
          args: 'format --diff'

